Repository voxpupuli/puppet-nftables, pull requests merged in 2020-12, with the labels that each got.

#43 Fix typos and formatting in the README
  README.md
Labels: documentation

#41 rubocop corrections
  .github/workflows/ci.yml
  .rubocop.yml
  spec/classes/inet_filter_spec.rb
  spec/classes/nftables_spec.rb
  spec/defines/set_spec.rb
  spec/unit/facter/nftables_spec.rb
Labels: enhancement

#44 Correct layout of ignore table example
  REFERENCE.md
  manifests/init.pp
Labels: documentation

#34 Remove duplicate flush on reload
  files/systemd/puppet_nft.conf
  manifests/init.pp
  spec/acceptance/default_spec.rb
  spec/classes/nftables_spec.rb
  templates/systemd/puppet_nft.conf.epp
Labels: enhancement

#33 Add nftables::simplerule
  README.md
  REFERENCE.md
  manifests/simplerule.pp
  spec/defines/simplerule_spec.rb
  spec/type_aliases/nftables_addr_spec.rb
  spec/type_aliases/nftables_port_spec.rb
  templates/simplerule.epp
  types/addr.pp
  types/addr/set.pp
  types/port.pp
  types/port/range.pp
Labels: enhancement

#51 Enable Puppet 7 support
  metadata.json
Labels: enhancement

#52 Remove a blank separating the doc string and the code
  REFERENCE.md
  manifests/simplerule.pp
Labels: documentation

#50 Correct nfs3 invalid udp /tcp matching rule and more tests
  manifests/rules/nfs3.pp
  manifests/rules/out/nfs3.pp
  spec/acceptance/all_rules_spec.rb
  spec/acceptance/default_spec.rb
  spec/classes/rules/nfs3_spec.rb
  spec/classes/rules/out/nfs3_spec.rb
Labels: bug

#48 Several fixes for nftables::config
  files/config/puppet-ip-nat.nft
  files/config/puppet-ip6-nat.nft
  manifests/config.pp
  manifests/ip_nat.pp
  spec/classes/ip_nat_spec.rb
  spec/defines/config_spec.rb
Labels: enhancement

#47 Prefix custom tables with custom- so they're loaded
  manifests/config.pp
  manifests/inet_filter.pp
  manifests/ip_nat.pp
  spec/defines/config_spec.rb
Labels: bug

#42 switch not the server naming
  manifests/rules/out/puppet.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/out/puppet_spec.rb
Labels: backwards-incompatible

#55 Docs for nftables::set
  REFERENCE.md
  manifests/set.pp
  manifests/simplerule.pp
Labels: documentation

#56 Use Stdlib::Port everywhere in place of Integer
  manifests/rules/ceph_mon.pp
  manifests/rules/dnat4.pp
  manifests/rules/dns.pp
  manifests/rules/icinga2.pp
  manifests/rules/masquerade.pp
  manifests/rules/node_exporter.pp
  manifests/rules/out/ceph_client.pp
  manifests/rules/out/openafs_client.pp
  manifests/rules/out/puppet.pp
  manifests/rules/snat4.pp
  manifests/rules/ssh.pp
  manifests/rules/tor.pp
  manifests/rules/wireguard.pp
  spec/classes/rules/dns_spec.rb
  spec/classes/rules/icinga2_spec.rb
  spec/classes/rules/node_exporter_spec.rb
  spec/classes/rules/ssh_spec.rb
  spec/classes/rules/tor_spec.rb
  spec/classes/rules/wireguard_spec.rb
  spec/defines/rules/dnat4_spec.rb
  spec/defines/rules/masquerade_spec.rb
  spec/defines/rules/snat4_spec.rb
Labels: enhancement
