Repository voxpupuli/puppet-nftables, pull requests merged in 2021-04, with the labels that each got.

#92 Drop Puppet 5, puppetlabs/concat 7.x, puppetlabs/stdlib 7.x, camptocamp/systemd: 3.x
  metadata.json
  spec/acceptance/all_rules_spec.rb
  spec/acceptance/default_spec.rb
Labels: backwards-incompatible

#79 Drop Puppet 5 support
  metadata.json
Labels: backwards-incompatible

#89 camptocamp/systemd: allow 3.x
  metadata.json
Labels: enhancement

#90 puppetlabs/stdlib: Allow 7.x
  metadata.json
Labels: enhancement

#91 puppetlabs/concat: Allow 7.x
  metadata.json
Labels: enhancement

#93 Fix IPv4 source address type detection
  spec/defines/simplerule_spec.rb
  templates/simplerule.epp
Labels: bug
