Repository voxpupuli/puppet-nftables, pull requests merged in 2021-03, with the labels that each got.

#75 fix #74 - ensure table are initialized before flushing them
  spec/classes/nftables_spec.rb
  templates/config/puppet.nft.epp
Labels: bug

#76 Release 1.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#77 Release 1.2.1-rc0
  metadata.json
Labels: skip-changelog

#81 Fix sections and add a pointer to code snippets for Emacs
  README.md
Labels: documentation

#82 Add rules for Apache ActiveMQ
  REFERENCE.md
  manifests/rules/activemq.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/activemq_spec.rb
Labels: enhancement

#84 Add nftables.version to structured fact.
  README.md
  lib/facter/nftables.rb
  spec/unit/facter/nftables_spec.rb
Labels: enhancement

#80 Add Docker-CE default rules
  manifests/rules/docker_ce.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/docker_ce_spec.rb
Labels: enhancement

#85 Add rules for QEMU/libvirt guests (bridged virtual networking)
  REFERENCE.md
  manifests/rules/qemu.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/qemu_spec.rb
Labels: enhancement

#86 Prepare release 1.3.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#87 Release 1.3.1-rc0
  metadata.json
Labels: skip-changelog

#88 Amend link to Yasnippets
  README.md
Labels: documentation
