Repository voxpupuli/puppet-nftables, pull requests merged in 2021-01, with the labels that each got.

#59 Align simplerule and rule rulename requirements
  REFERENCE.md
  manifests/rule.pp
  manifests/simplerule.pp
  spec/type_aliases/nftables_rulename_spec.rb
  spec/type_aliases/nftables_simplerulename_spec.rb
  types/rulename.pp
  types/simplerulename.pp
Labels: bug

#62 Added Samba in rules
  manifests/rules/samba.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/samba_spec.rb
Labels: enhancement

#64 Enable parameter_documentation lint
  .sync.yml
  Gemfile
  REFERENCE.md
  manifests/bridges.pp
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  manifests/rule.pp
  manifests/rules/afs3_callback.pp
  manifests/rules/ceph_mon.pp
  manifests/rules/dhcpv6_client.pp
  manifests/rules/dnat4.pp
  manifests/rules/dns.pp
  manifests/rules/icinga2.pp
  manifests/rules/icmp.pp
  manifests/rules/masquerade.pp
  manifests/rules/node_exporter.pp
  manifests/rules/out/ceph_client.pp
  manifests/rules/out/dhcpv6_client.pp
  manifests/rules/out/dns.pp
  manifests/rules/out/icmp.pp
  manifests/rules/out/openafs_client.pp
  manifests/rules/out/puppet.pp
  manifests/rules/out/wireguard.pp
  manifests/rules/puppet.pp
  manifests/rules/snat4.pp
  manifests/rules/ssh.pp
  manifests/rules/tor.pp
  manifests/rules/wireguard.pp
  manifests/services/dhcpv6_client.pp
  manifests/services/openafs_client.pp
Labels: documentation, enhancement

#63 Add badges to README
  README.md
Labels: documentation

#60 add some mail related outgoing rules
  REFERENCE.md
  manifests/rules/out/imap.pp
  manifests/rules/out/pop3.pp
  manifests/rules/out/smtp.pp
  manifests/rules/out/smtp_client.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/out/imap_spec.rb
  spec/classes/rules/out/pop3_spec.rb
  spec/classes/rules/out/smtp_client_spec.rb
  spec/classes/rules/out/smtp_spec.rb
Labels: enhancement

#68 Improve nftables::rule's documentation
  README.md
  REFERENCE.md
  manifests/rule.pp
Labels: documentation

#70 Fix IP version filter for IPv6 traffic
  spec/defines/simplerule_spec.rb
  templates/simplerule.epp
Labels: bug

#71 Release 1.1.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#72 Bump version to 1.1.2-rc0
  metadata.json
Labels: skip-changelog
