Repository voxpupuli/puppet-nftables, pull requests merged in 2022-08, with the labels that each got.

#142 Add all nftables families as a valid noflush pattern
  manifests/init.pp
  spec/classes/nftables_spec.rb
Labels: enhancement, needs-tests

#144 Properly escape bridge in rulename
  manifests/bridges.pp
  spec/classes/bridges_spec.rb
Labels: bug

#145 Release 2.5.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
