Repository voxpupuli/puppet-nftables, pull requests merged in 2022-02, with the labels that each got.

#120 Declare support for RHEL9, CentOS9 and OL9
  metadata.json
  spec/classes/bridges_spec.rb
Labels: enhancement

#121 vp-puppet-lint-plugin enables param-docs already
  .sync.yml
Labels: skip-changelog

#112 Use protocol number instead of label
  manifests/rules/ospf.pp
  manifests/rules/ospf3.pp
  manifests/rules/out/ospf.pp
  manifests/rules/out/ospf3.pp
Labels: enhancement

#125 Ensure that nftables.service remains active after it exits
  files/systemd/puppet_nft.conf
Labels: bug

#124 Add support for Arch Linux
  data/common.yaml
  data/os/Archlinux.yaml
  files/systemd/puppet_nft.conf
  manifests/init.pp
  metadata.json
  spec/acceptance/all_rules_spec.rb
  spec/acceptance/default_spec.rb
  spec/classes/nftables_spec.rb
  templates/systemd/puppet_nft.conf.epp
Labels: enhancement

#127 Remove trailing whitespace
  types/addr.pp
Labels: skip-changelog
