Repository voxpupuli/puppet-nftables, pull requests merged in 2023-07, with the labels that each got.

#182 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#186 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#187 Add missing unit string for timeout,gc-interval
  manifests/init.pp
  templates/set.epp
Labels: bug
