Repository voxpupuli/puppet-nftables, pull requests merged in 2023-05, with the labels that each got.

#173 Drop puppet 6 support
  metadata.json
Labels: backwards-incompatible

#172 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync

#175 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
