Repository voxpupuli/puppet-nftables, pull requests merged in 2023-11, with the labels that each got.

#208 add ftp helper
  REFERENCE.md
  files/config/puppet-inet-filter.nft
  manifests/helper.pp
  manifests/rules/ftp.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/ftp_spec.rb
Labels: enhancement

#211 Add Debian 12 support
  metadata.json
Labels: enhancement

#212 Release 3.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#183 Example how to redirect one port to another
  REFERENCE.md
  manifests/rule.pp
Labels: docs

#214 Additional rules for podman root containers
  REFERENCE.md
  manifests/rules/podman.pp
  spec/acceptance/all_rules_spec.rb
  spec/classes/rules/podman_spec.rb
Labels: enhancement

#215 Support input interface specification to dns server
  REFERENCE.md
  manifests/rules/dns.pp
  spec/classes/rules/dns_spec.rb
Labels: enhancement

#216 Release 3.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
