Repository voxpupuli/puppet-nftables, pull requests merged in 2023-01, with the labels that each got.

#157 Align filemode on RedHat to distro default
  data/common.yaml
  data/os/RedHat.yaml
  manifests/chain.pp
  manifests/config.pp
  manifests/file.pp
  manifests/init.pp
  spec/classes/dnat4_spec.rb
  spec/classes/inet_filter_spec.rb
  spec/classes/ip_nat_spec.rb
  spec/classes/masquerade_spec.rb
  spec/classes/nftables_spec.rb
  spec/classes/router_spec.rb
  spec/classes/snat4_spec.rb
  spec/defines/chain_spec.rb
  spec/defines/config_spec.rb
Labels: bug

#159 bump puppet/systemd to < 5.0.0
  metadata.json
Labels: enhancement

#149 Allow netdev as table family in defined type nftables::chain
  manifests/chain.pp
  spec/acceptance/default_spec.rb
Labels: enhancement

#160 Declare AlmaLinux8 and AlmaLinux9 support
  metadata.json
Labels: enhancement

#161 Add Rocky 8 and 9 support
  metadata.json
Labels: enhancement

#162 README improvements
  README.md
Labels: documentation
