Repository voxpupuli/puppet-nftables, pull requests merged in 2023-12, with the labels that each got.

#219 Document what the 'auto_merge' set parameter does.
  manifests/set.pp
Labels: docs

#220 modulesync 7.2.0
  .msync.yml
  REFERENCE.md
Labels: modulesync

#221 simplerule: Add support for incoming interface filtering
  REFERENCE.md
  manifests/simplerule.pp
  spec/acceptance/simple_rule_iifname_spec.rb
  templates/simplerule.epp
Labels: enhancement

#224 simplerule: Add support for outgoing interface filtering
  REFERENCE.md
  manifests/simplerule.pp
  spec/acceptance/simple_rule_iifname_spec.rb
  templates/simplerule.epp
Labels: enhancement

#225 Make "dropping invalid packets" configureable
  REFERENCE.md
  manifests/inet_filter/fwd_conntrack.pp
  manifests/inet_filter/in_out_conntrack.pp
  manifests/init.pp
  spec/classes/inet_filter/fwd_conntrack_spec.rb
  spec/classes/inet_filter/in_out_conntrack_spec.rb
Labels: enhancement

#226 Release 3.6.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#228 simplerule: Allow multiple oifname/iifname
  REFERENCE.md
  manifests/simplerule.pp
  templates/simplerule.epp
Labels: enhancement

#229 Release 3.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#230 out::icmp: simplify filtering/fix ICMP bug
  REFERENCE.md
  manifests/rules/out/icmp.pp
Labels: bug

#231 rules::icmp: Allow ICMP packets with extensions
  REFERENCE.md
  manifests/rules/icmp.pp
  spec/classes/rules/icmp_spec.rb
Labels: bug

#232 Release 3.7.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#233 rules::out::mdns & rules::mdns: Allow interface filtering
  REFERENCE.md
  manifests/rules/mdns.pp
  manifests/rules/out/mdns.pp
  spec/classes/rules/mdns_spec.rb
  spec/classes/rules/out/mdns_spec.rb
Labels: enhancement

#234 rules::ospf3 & rules::out::ospf3: Allow filtering on outgoing interfaces
  REFERENCE.md
  manifests/rules/ospf3.pp
  manifests/rules/out/ospf3.pp
  spec/classes/rules/ospf3_spec.rb
  spec/classes/rules/out/ospf3_spec.rb
Labels: enhancement
