Repository voxpupuli/puppet-nftables, pull requests merged in 2024-08, with the labels that each got.

#253 Reload nftables service if hash at last service load does not match
  README.md
  REFERENCE.md
  manifests/init.pp
  spec/classes/nftables_spec.rb
Labels: enhancement

#254 partial modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  .sync.yml
  spec/spec_helper.rb
Labels: modulesync

#255 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
